alembic==0.9.3
cheroot==5.7.0
CherryPy==11.0.0
click==6.7
decorator==4.1.2
Flask==0.12.2
Flask-Migrate==2.1.0
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.6
Mako==1.0.7
MarkupSafe==1.0
Paste==2.0.3
pbr==3.1.1
portend==2.1.2
pypiwin32==219
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2017.2
six==1.10.0
SQLAlchemy==1.1.12
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
tempora==1.8
Werkzeug==0.12.2
